body {
	background-image: url(../Images/AdminReg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-left: 60%;
	background-size: 100% 100%;
}

form {
	border: 3px solid white;
	background-color: white;
	width: 390px;
	height: 500px;
	text-align: center;
}

div {
	font-weight: 900;
	color: rgb(56, 34, 200);
}

h1 {
	background-color: rgb(10, 10, 36);
	width: 100%;
	height: 50px;
	color: white;
	margin-top: 0%;
	padding-top: 1%;
}